@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Doctor Glitch';
    src: url('/public/assets/fonts/doctor_glitch.otf') format('opentype');
    font-display: swap;
}